/.env
/.env.*
!/.env.example
/config/master.key
/config/credentials/*.key
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids/
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
/vendor/bundle
/.bundle
/public/assets
/artifacts
.DS_Store
